.postArea,
.commentArea {
  white-space: pre-wrap;
}

.mainBg {
  background-color: #ededed;
  min-height: 100vh;
}

.bg-violet {
  background-color: lavender;
}

.table-responsive {
  margin-bottom: -16px;
}

.numHead {
  width: 5%;
}

.topicHead {
  width: 60%;
}

.authorHead {
  width: 15%;
}

.commentsHead {
  width: 5%;
}

.lastPostHead {
  width: 15%;
}

.pageLink {
  color: lightgray;
  text-decoration: none;
}

.pageLink:hover {
  color: gray;
  text-decoration: none;
}

.activeLinkClassName {
  color: black;
  font-weight: 400;
}

.previousLinkClassName {
  color: black;
  text-decoration: none;
}

.nextLinkClassName {
  color: black;
  text-decoration: none;
}
